* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.Nav-bar {
  padding: 20px;
}
.nav-right {
  text-decoration: none;
  float: right;
  color: grey;
}
.nav-right a {
  text-decoration: none;
  color: grey;
  padding: 10px 0;
  margin-right: 20px;
  padding-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50;
  font-size: 15px;
}
.nav-right a:hover {
  text-decoration: underline;
}
.main-footer {
  position: fixed;
  bottom: 0;
  margin: 0px;
  background-color: rgb(241, 237, 237);
  width: 100%;
  padding-bottom: 0px;
}
.footer-text {
  padding-left: 10px;
  color: rgb(77, 75, 75);
}
.footer-right a,
.footer-left a {
  padding: 10px 0;
  text-decoration: none;
  color: rgb(77, 75, 75);
  padding-left: 10px;
}
.below {
  padding: 10px 0;
}
.main-body {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
input {
  margin-bottom: 40px;
  width: 700px;
  height: 50px;
  border-radius: 50px;
  border: solid 0.1px rgb(221, 219, 219);
}
input:hover {
  box-shadow: 0px 0px 5px 0px darkgrey, 0px 0px 10px 0px darkgrey,
    0px 0px 15px 0px darkgrey, 0px 00px 5px 0px darkgrey;
}
input:active {
  border: none;
}
.btn {
  text-decoration: none;
  margin: 20px;
  padding: 10px 15px;
  border-radius: 12px;
  background: rgb(218, 216, 216);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(77, 75, 75);
}
.btn:hover {
  border: darkgrey 1px solid;
  margin: 0 19px;
}
.main-text {
  margin-top: 20px;
}
.main-text p,
.main-text a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.main-text a {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}
.main-text a:hover {
  text-decoration: underline;
}
